@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap');

:root {
  --primary-bg: #2f303a;
  --secondary-bg: #202027;
  --button-bck: #1762a7;
  --accent-text: #ad305a;
  --border-input: #2e3852;
}

* { box-sizing: border-box; }

body {
  margin: 0;
  font-family: 'Poppins', sans-serif;
  background-color: var(--primary-bg);
  color: white;
  min-height: 100vh;
  overflow-x: hidden;
  position: relative;
}

body::before, body::after {
  content: "";
  position: absolute;
  border-radius: 50%;
  z-index: -1;
}
body::before { width: 450px; height: 450px; background: rgba(188, 58, 128, 0.1); bottom: -100px; left: -150px; }
body::after { width: 550px; height: 550px; background: rgba(52, 87, 178, 0.1); top: -100px; right: -150px; }

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
  display: flex;
  width: 100%;
}

/* Lógica para Móvil */
@media (max-width: 768px) {
  .container {
    flex-direction: column;
    text-align: center;
    align-items: center;
    padding-top: 80px;
    gap: 30px;
  }
  
  h1 { font-size: 2.5rem !important; }
}

.icon-box {
  background-color: var(--secondary-bg);
  padding: 15px;
  text-align: center;
  min-width: 90px;
}

footer .container {
  flex-direction: row !important; 
  padding-top: 0 !important;
  min-height: auto !important;
}

@media (max-width: 768px) {
  footer .container {
    justify-content: center;
    gap: 40px;
    flex-wrap: wrap;
  }
}